body {
    background-color: aquamarine;
   
    
}

h3 {color:black;
}

h1 { color: red; font-size: 60px; text-align: center;

}

.header {
text-shadow: 10ch;
text-align: center;
}

.d {background-color: brown;

}
.footer {
background-color: antiquewhite;
box-sizing: border-box;
border: 10cm;
}
